# Text Vectorization Methods

### 1 Bag-of-Word (BoW)

In [18]:
data = [
    "I love machine learning ",
    "Machine learning is amazing ",
    "I love data  science",
    "Data science and machine learning are exciting"
]

In [19]:
from sklearn.feature_extraction.text import CountVectorizer


vect = CountVectorizer()

X = vect.fit_transform(data)

print("Feature Names (Words)",vect.get_feature_names_out())
print()
print("Bag of Words Matrix : \n ",X.toarray())

Feature Names (Words) ['amazing' 'and' 'are' 'data' 'exciting' 'is' 'learning' 'love' 'machine'
 'science']

Bag of Words Matrix :
  [[0 0 0 0 0 0 1 1 1 0]
 [1 0 0 0 0 1 1 0 1 0]
 [0 0 0 1 0 0 0 1 0 1]
 [0 1 1 1 1 0 1 0 1 1]]

### 2  One-Hot Encoding

In [21]:
import pandas as pd

data = {'Fruit':['Apple','Banana','Orange','Banana','Apple']}

df = pd.DataFrame(data)
df.head()

    Fruit
0   Apple
1  Banana
2  Orange
3  Banana
4   Apple

In [24]:
one_hot = pd.get_dummies(df,columns=['Fruit']).astype(int)

In [25]:
one_hot.head()

   Fruit_Apple  Fruit_Banana  Fruit_Orange
0            1             0             0
1            0             1             0
2            0             0             1
3            0             1             0
4            1             0             0

### 3  Terms Frequency Inverse Document Frequency  (TF-IDF)

In [31]:
data = [
    "I love machine learning",
    "Machine learning is exciting",
    "I love data science",
    "Data science and machine learning are exciting"
]

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer

vect = TfidfVectorizer()

X = vect.fit_transform(data)

tfidf_matrix = X.toarray()


print("Feature Names (WOrds) : ",vect.get_feature_names_out())
print()
print("TF-IDF Matrix  :  \n\n",tfidf_matrix)

Feature Names (WOrds) :  ['and' 'are' 'data' 'exciting' 'is' 'learning' 'love' 'machine' 'science']

TF-IDF Matrix  :

 [[0.         0.         0.         0.         0.         0.53256952
  0.65782931 0.53256952 0.        ]
 [0.         0.         0.         0.5051001  0.64065543 0.40892206
  0.         0.40892206 0.        ]
 [0.         0.         0.57735027 0.         0.         0.
  0.57735027 0.         0.57735027]
 [0.46226998 0.46226998 0.36445896 0.36445896 0.         0.29506094
  0.         0.29506094 0.36445896]]